<ion-header>
    <ion-navbar class="navbar">
    </ion-navbar>
  </ion-header>
  
  
  <ion-content>
    <h3 style="padding: 16px; background:#ff5252; color: white;">{{'TICKETS_EVENTS' | translate}}</h3>
  <ion-list>
    <ion-item *ngFor="let ticket of tickets" >
      <h2 style="color: #ff5252;">{{ticket.ticketEventName}}</h2>
      <p style="color: #ff9147;">{{ticket.ticketEventDate}}</p>
      <ion-buttons end>
        <button ion-button outline (click)="goToTicketDetails(ticket)">
            {{'SEE_DETAILS' | translate}}
        </button>
        <button ion-button icon-only outline (click)="getRefToDelete(ticket)">
          <ion-icon name="trash" color="secondary"></ion-icon>
        </button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  </ion-content>
