<ion-header>
  <ion-navbar class="navbar">
  </ion-navbar>
</ion-header>


<ion-content>
  <h3 style="padding: 16px; background:#ff5252; color: white;">Profile information</h3>
<ion-list lines="none">
  <ion-item *ngFor="let data of profileData">
    <ion-label stacked>{{'NAME' | translate}}</ion-label>
    <ion-input [(ngModel)]="name" value="{{data.name}}"></ion-input>
  </ion-item>
  <ion-item *ngFor="let data of profileData">
    <ion-label stacked>{{'LASTNAME' | translate}}</ion-label>
    <ion-input [(ngModel)]="lastname" value="{{data.lastname}}"></ion-input>
  </ion-item>
  <ion-item *ngFor="let data of profileData">
      <ion-label stacked>{{'PHONE' | translate}}</ion-label>
      <ion-input [(ngModel)]="phone" value="{{data.phone}}"></ion-input>
  </ion-item>
  <ion-item lines="none" *ngFor="let data of profileData">
      <ion-label stacked>{{'DIRECTION' | translate}}</ion-label>
      <ion-input [(ngModel)]="direction" value="{{data.direction}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-select placeholder="Genero" interface="action-sheet">  
      <ion-option (ionSelect)="selectGenderMale()">{{'MALE' | translate}}</ion-option>
      <ion-option (ionSelect)="selectGenderFemale()">{{'FEMALE' | translate}}</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
<button class="updateButton" (click)="updateUserInformation()" ion-button>{{'UPDATE_INFORMATION' | translate}}</button>
</ion-content>
