<ion-header>
    <ion-navbar>
        <button ion-button icon-only flat (click)="closeModal()" class="button-exit">
            <ion-icon name="close"></ion-icon>
        </button>
        <ion-title>{{'PAYMENT_DATA' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
  <h3 style="padding: 16px;">{{ticket.titleTicket}} - {{ticket.ticketPrice}} €</h3>
  <ion-item>
    <ion-label stacked>{{'NAME' | translate}}</ion-label>
    <ion-input value="{{nameUser}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>{{'LASTNAME' | translate}}</ion-label>
    <ion-input value="{{lastNameUser}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>{{'DIRECTION' | translate}}</ion-label>
    <ion-input value="{{directionUser}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>{{'CARD_NUMBER' | translate}}</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>CVC</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>{{'DATE_OF_EXPIRY' | translate}}</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <div class="btn-payment" (click)="buyTicket()">{{'PAYMENT_DONE' | translate}}</div>

</ion-content>
