page-payment-data {
  font-family: 'Poppins', sans-serif;

  .btn-payment{
    width: 100%;
    height: 56px;
    background: #ff5252;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toolbar-background {
    background-color: #ff5252;
  }

  .toolbar-content{
    display: flex;
  }

  .toolbar-content ion-title{
    flex-grow: 1;
    justify-content: right;
    font-size: 14px;
    color: white;
    margin-left: 8px;
  }

  .button-exit{
    float: right;
    box-shadow: none;
    color: white;
    background: #ff5252 !important;
  }
}
