<ion-content>
    <div class="bg" [ngStyle]="{'visibility' : Keyboard.isOpen() ? 'hidden' : 'visible'}"></div>
    <div class="bg2" [ngStyle]="{'visibility' : Keyboard.isOpen() ? 'hidden' : 'visible'}"></div>
    <p class="love">Made with love</p>
    <div class="bg3" [ngStyle]="{'visibility' : Keyboard.isOpen() ? 'hidden' : 'visible'}"></div>
    <div class="bg4" [ngStyle]="{'visibility' : Keyboard.isOpen() ? 'hidden' : 'visible'}"></div>
    <p class="btn-action" (click)=goToRegisterPage()>{{ 'SIGN_UP' | translate }}</p>
    <div class="form">
      <ion-spinner *ngIf="loading"  class="spinner" indeterminate></ion-spinner>
      <h1>{{ 'SIGN_IN' | translate }}</h1>
      <hr class="hr">
      <ion-item>
          <ion-label color="dark" floating>email</ion-label>
          <ion-input type="email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="dark" floating>{{ 'PASSWORD' | translate }}</ion-label>
          <ion-input type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>  
      <button *ngIf="!loading;else other" class="button-form" (click)="login(user)">{{ 'CONTINUE' | translate }}</button>
      <ng-template #other>
        <button class="button-loading">{{ 'LOADING' | translate }}</button>
      </ng-template>
      <div>{{ 'FORGOT_PASSWORD' | translate }}</div>
    </div>
</ion-content>
  