page-login {
  font-family: 'Poppins', sans-serif;
  
  .bg{
    position: absolute;
    right: 0;
    top: 0;
    border-top: 100px solid #ff793f;
    border-left: 370px solid transparent;
    z-index: 1;
  }
  .btn-action{
    z-index: 1500;
  }
  .bg2{
    position: absolute;
    bottom: 0;
    border-bottom: 100px solid #ff5252;
    border-right: 400px solid transparent;
  }
  .love{
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .bg3{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.4;
    border-top: 200px solid #ff5252;
    border-right: 300px solid transparent;
    z-index: 6;
  }
  .bg4{
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    border-bottom: 150px solid #ff793f;
    border-left: 150px solid transparent;
    z-index: 6;
  }

  p{
    position: absolute;
    top: 0;
    right: 20px;
    color: white;
    font-size: 18px;
  }

  .form{
    z-index: 5;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hr{
    height: 1px;
    width: 64px;
    background: #FF793F;
  }
  .item{
    width: 65%;
    padding: 0;
    margin: 0;
  }
  .button-form{
    width: 65%;
    height: 40px;
    margin: 32px 0 8px 0;
    border-radius: 4px;
    background: #ff5252;
    color: white;
  }
  .button-loading{
    width: 65%;
    height: 40px;
    margin: 32px 0 8px 0;
    border-radius: 4px;
    background: lightgray;
    color: black;
  }
  img{
    margin-top: 16px;
    width: 50%;
  }
  .spinner{
    position: absolute;
    top: 50%;
    left: 45%;
    z-index: 1000;
  }
}


