<ion-content>
  <ion-tabs>
    <ion-tab [root]="tabFeed" tabIcon="home"></ion-tab>
    <ion-tab [root]="tabSearch" tabIcon="search"></ion-tab>
    <ion-tab [root]="tabProfile" tabIcon="person"></ion-tab>
  </ion-tabs>
</ion-content>
