<div class="user">
  <img class="user-img" src="{{image}}"/>
  <h4>{{name}}</h4>
  <div class="inner-user">
    <div>Siguiendo: {{followingQuantity}} </div>
    <div (click)="openPointsPage()">Puntos: {{points}}  <ion-icon name="trophy"></ion-icon></div>
  </div>
</div>
