profile {
  font-family: 'Poppins', sans-serif;
  .user{
    width: 100%;
    height: 50%;
    text-align: center;
    background: none;
    border:none;
    position: relative;
  }

  .user-img{
    width: 90px;
    height: 90px;
    border-radius: 100%;
  }

  .inner-user{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px;

    div:first-child{
      border-right: 1px solid white;
    }
    div{
      border-top: 1px solid white;
      padding: 8px 24px;
      font-size: 16px;
    }
  }
}
