<ion-header>
  <ion-navbar>
    <ion-title>Promociones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let promotion of promotions" (click)="openDetails(promotion)">
      <img src="{{promotion.imagePromotion}}"/>
      <div class="details-promotion">
        <p class="title">{{promotion.titlePromotion}}</p>
        <p class="description">{{promotion.descriptionPromotion}}</p>
      </div>
      <div class="points">{{promotion.pointsPromotion}}</div>
    </ion-item>
  </ion-list>
</ion-content>
