page-points {
  font-family: 'Poppins', sans-serif;
  .toolbar-background {
    background-color: #ff5252;
  }

  .item{
    border: 1px solid #ff5252;
    border-top-left-radius: 16px;
    position: relative;
    margin-top: 8px;

    img{
      width: 65px;
      height: 65px;
      margin-right: 16px;
    }
  }

  .label{
    display: flex;
  }

  .details-promotion{
    width: 80%;
  }
  .points{
    flex-grow: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #ff5252;
    padding: 8px 16px;
    color: white;
    border-top-left-radius: 16px;
  }
  .title{
    font-size: 18px;
  }
  .description{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
  }
}
