<ion-header>
  <ion-navbar class="navbar">
  </ion-navbar>
</ion-header>


<ion-content>
  <h3 style="padding: 16px; background:#ff5252; color: white;">{{'FAVOURITES_EVENTS' | translate}}</h3>
<ion-list>
  <ion-item *ngFor="let event of favouritesEvents">
    <h2 style="color: #ff5252;">{{ event.name }}</h2>
    <p style="color: #ff9147;">{{ event.date }}</p>
    <ion-buttons end>
      <button (click)="deleteEvent(event)" ion-button icon-only outline>
        <ion-icon name="trash" color="secondary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-item>
</ion-list>
<ion-refresher (ionRefresh)="doRefresh($event)">
  <ion-refresher-content 
    pullingText="Pull to refresh"
    refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>
</ion-content>
