<ion-header>

  <ion-navbar>
    <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="search()"></ion-searchbar>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading" class="spinner" indeterminate></ion-spinner>
  <p *ngIf="loading" class="textSpinner">{{'LOADING_PLACES_MSG' | translate}}</p>
  <ion-list>
    <ion-item *ngFor="let place of placesSorted" (click)="placeDetails(place)">
      <div class="item-content">
        <img src={{place.image1}} />
        <div class="item-details">
          <p class="place-title">{{place.title}}</p>
          <div *ngIf="!searching"  class="kilometers">{{place.kilometers}} KM</div>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
