page-places {
  font-family: 'Poppins', sans-serif;
  .spinner{
    position: absolute;
    top: 40%;
    left: 45%;
  }
  .textSpinner{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .item-content{
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100px;
    border: 1px solid #ff793f;
    border-radius: 8px;

    img{
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
      height: 100px;
    }
  }
  .item-details{
    position: relative;
  }
  .place-title{
    font-size: 18px;
    padding: 8px;
    overflow: hidden;
    width: 90%;
    text-overflow: ellipsis;
  }
  .kilometers{
    background: #ff793f;
    color: white;
    font-size: 16px;
    padding: 8px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .label{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
  }
}
