page-send-message {
  font-family: 'Poppins', sans-serif;
  .label-message{
    font-size: 18px;
    color: #ff5252;
  }

  .btn{
    width: 100%;
    height: 56px;
    padding: 0;
    margin: 0;
    align-self: end;
    background: #ff5252;
  }

  .content{
    display: flex;
    flex-direction: column;
    grid-template-rows: 20% 60% 20%;
    height: 100%;
  }

  .message-body{
    flex-grow: 1;
    padding: 16px;
  }

  .message-title{
    padding: 16px;
  }

  textarea{
    height: 100%;
    margin: 0;
  }

  .gray{
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0.4;
    background-color: gray;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-gray{
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 1 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  ion-content{
    position: relative;
  }
}
