<ion-header>
  <ion-navbar>
    <ion-title>{{'SEND_MESSAGE' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="sending" class="gray"></div>
  <div *ngIf="sending" class="content-gray">
      <ion-spinner color="#ff5252" indeterminate></ion-spinner>
      <p>{{'SENDING_MSG' | translate}}</p>
    </div>
  <div class="content">
    <ion-item class="message-title">
      <ion-label stacked class="label-message">{{'SUBJECT' | translate}}</ion-label>
      <ion-input [(ngModel)]="subject"></ion-input>
    </ion-item>
    <ion-item class="message-body">
      <ion-label stacked class="label-message">{{'MSG' | translate}}</ion-label>
      <ion-textarea [(ngModel)]="message"></ion-textarea>
    </ion-item>
    <button color="#ff5252" class="btn" ion-button (click)="send()">{{'SEND' | translate}}</button>
  </div>
</ion-content>
