<ion-content class="content-main" style="height: 100%;">
  <div class="images">
    <ion-slides class="slides" pager="true" autoplay="2000" loop="true" speed="500">
      <ion-slide class="img-event">
        <img src="{{event.image1}}"/>
      </ion-slide>
      <ion-slide class="img-event">
        <img  src="{{event.image2}}"/>
      </ion-slide>
      <ion-slide class="img-event">
        <img  src="{{event.image3}}"/>
      </ion-slide>
    </ion-slides>
    <ion-icon class="back" (click)="goBack()" class="back" name="arrow-back"></ion-icon>
  </div>
  <div class="organizer">
    <img class="img-organizer" src="{{image_organizer}}" />
    <p id="name-organizer">{{event.name_organizer}}</p>
    <p id="time">{{timestamp}} {{ 'DAYS_AGO' | translate }}</p>
  </div>
  <div class="separator"></div>
  <div class="prueba">
    <div class="content-event">
      <p class="title">{{event.title}}</p>
      <p class="description">{{event.description}}</p>
      <div class="time-container">
        <div>
          <p class="title">{{ 'DATE' | translate }}</p>
          <p class="description">{{dateEvent}}</p>
        </div>
        <div>
          <p class="title">{{ 'TIME' | translate }}</p>
          <p class="description">{{event.timeStart}} - {{event.timeEnd}}</p>
        </div>
      </div>
      <p class="title-location">{{ 'LOCALIZATION' | translate }}</p>
      <div class="place">{{event.place}}
        <button ion-button icon-only outline (click)="openMap()">
          <ion-icon name="map"></ion-icon>
        </button>
      </div>
      <p class="title-tickets">{{ 'SELECT_YOUR_TICKET' | translate }}</p>
      <ion-item class="tickets"> 
        <ion-select interface="action-sheet" placeholder="{{ 'SELECT_YOUR_TICKET' | translate }}">
          <ion-option *ngFor="let ticket of tickets" (ionSelect)="selectTicket(ticket)">{{ticket.titleTicket}}  {{ticket.ticketPrice}} €</ion-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
  <ion-fab bottom right fixed>
      <button *ngIf="user.buy" ion-fab color="secondary" (click)="buyTicket(event.name_organizer)">
        <ion-icon name="cart"></ion-icon>
      </button>
      <button *ngIf="!user.buy" ion-fab color="gray" (click)="buyTicket(event.name_organizer)">
          <ion-icon name="cart"></ion-icon>
      </button>
  </ion-fab>
</ion-content>
