page-event-details {
  font-family: 'Poppins', sans-serif;
  .back{
    position: absolute;
    top: 14px;
    left: 14px;
    z-index: 1;
    color: white;
  }

  ion-icon.back{
    font-size: 20px;
    background: gray;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .swiper-pagination-bullet-active {
    background: #ff5252;
    border: 1px solid white;
    opacity: 1 !important;
    height: 15px;
    width: 15px;
  }

  .swiper-pagination-bullet {
    background: #ff5252;
    opacity: 0.5;
    height: 12px;
    width: 12px;
  }

  .item item-block item-md item-select{
    padding: 0;
    flex-grow: 1;
  }

  .title{
    font-size: 18px;
    margin-left: 16px;
    margin-top: 16px;
    color: #ff5252;
  }

  .description{
    font-size: 12px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: justify;
    margin-top: 4px;
  }

  .img-event img{
    width: 100%;
    height: 185px;
  }

  .organizer{
    display: flex;
    padding-top: 16px;
    padding-left: 16px;
  }

  #time{
    flex-grow: 1;
    text-align: right;
    margin-right: 16px;
    font-size: 12px;
    color: gray;
  }

  #name-organizer{
    margin-left: 12px;
    font-size: 12px;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .img-organizer{
    width: 38px;
    height: 38px;
    border-radius: 100%;
  }

  .slides{
    position: relative;
    height: 100%;
  }

  .separator{
    height: 1px;
    background: #ff793f;
    margin: 16px;
  }

  .place{
    display: grid;
    margin-left: 16px;
    margin-right: 16px;
    grid-template-columns: auto auto;
    align-items: center;
  }

  .place button{
    flex-grow: 1;
    float: right;
  }

  .title-location {
    font-size: 18px;
    margin-left: 16px;
    margin-bottom: 0;
    color: #ff5252;
  }

  .time-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .btn-buy{
    width: 100%;
    padding: 16px; 
    background:#ff5252; 
    color: white; 

  }

  .content-event{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .tickets{
    margin-top: 16px;
    padding: 0 !important;
  }

  .title-tickets{
    font-size: 18px;
    margin-left: 16px;
    margin-top: 16px;
    color: #ff5252;
    margin-bottom: 0;
  }

  ion-select{
    padding-top: 0 !important;
  }

}
