<ion-header>
  <ion-navbar>
    <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="search()"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-spinner *ngIf="loading" class="spinner" indeterminate></ion-spinner>
<div class="container-organizers">
    <div class="organizer" *ngFor="let item of organizers">
      <img (click)="openOrganizer(item)" class="img-organizer" src="{{item.image_profile}}"/>
      <p (click)="openOrganizer(item)">{{item.name}}</p>
      <button ion-button outline (click)="followOrganizer(item)" *ngIf="!follow(item);else other" >{{'FOLLOW' | translate}}</button>
      <ng-template #other>
        <button ion-button (click)="unfollow(item)">{{'UNFOLLOW' | translate}}</button>
      </ng-template>
    </div>
  </div>
</ion-content>
