page-organizers {
  font-family: 'Poppins', sans-serif;
  .spinner{
    position: absolute;
    top: 45%;
    left: 45%;
  }

  .container-organizers{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .organizer{
    display: grid;
    padding: 8px;
    grid-template-columns: 20% 50% 30%;
    height: 100px;
    width: 100%;
  }
  .organizer p{
    align-self: center;
  }

  .organizer img{
    align-self: center;
  }

  .organizer button{
    align-self: center;
  }

  .img-organizer{
    border-radius: 100%;
    width: 52px;
    height: 52px;
  }
}
