page-ticket-details {
  font-family: 'Poppins', sans-serif;
  .main{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right bottom, #ff793f, #ff7043, #ff6648, #ff5c4d, #ff5252);
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }
  .exit{
    width: 20px;
    height: 20px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
    left: 16px;
    color: white;
    z-index: 1000;
  }
  .card{
    height: 80%;
    width: 85%;
    background: white;
    display: flex;
    flex-direction: column;
    z-index: -1;
    padding: 8px;

    .title{
      width: 100%;
      font-size: 28px;
      margin: 16px 16px; 
      border-left: 6px solid #ff400f;
      padding: 8px;
    }

    .organizer{
      width: 100%;
      color: gray;
      font-size: 18px;
      margin: 4px 16px; 
      border-left: 6px solid #ff600f;
      padding: 16px;
    }

    .date{
      width: 100%;
      color: gray;
      font-size: 14px;
      margin: 4px 16px; 
      border-left: 6px solid #ff800f;
      padding: 16px;
    }

    .time{
      width: 100%;
      font-size: 14px;
      margin: 4px 16px; 
      border-left: 6px solid #ffa00f;  
      padding: 16px;
    }
  }

  svg{
    width: 100%;
  }

  .dashed{
    width: 100%;
    border-bottom: 1px dashed black;
  }

  .details{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .map{
    display: flex;
    justify-content: center;
    flex-grow: 2;
    align-items: center;
    border-top: 2px solid #ff793f;
  }

}
