<ion-content>

  <div class="main">
    <ion-icon name="close" class="exit" (click)="closeModal()"></ion-icon>
    <div class="card">
      <div class="details">
        <p class="title">{{ticket.ticketEventName}}</p>
        <p class="organizer">{{ticket.ticketOrganizer}}</p>
        <p class="date">{{ticket.ticketEventDate}}</p>
        <p class="time">{{ticket.ticketEventStart}} - {{ticket.ticketEventEnd}}</p>
      </div>
      <div class="map">
        <button ion-button outline (click)="openMap()">
            {{'OPEN_MAP' | translate}}
        </button>
      </div>
      <div class="dashed"></div>
      <svg #barcode id="barcode"></svg>
    </div>
  </div>

</ion-content>
