<ion-header>
    <ion-navbar>
        <div class="logo">socialzit</div>
        <button ion-button icon-only flat (click)="logout()" class="button-exit">
            <ion-icon name="exit"></ion-icon>
        </button>
        <button class="button-exit" ion-button icon-only flat (click)="openNotificationsPage()">
            <ion-icon name="mail">
                <div class="badge">{{notificationsQuantity}}</div>
            </ion-icon>
        </button>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-spinner *ngIf="loading" class="spinner" indeterminate></ion-spinner>
    <ion-card *ngFor="let event of events">
        <ion-card-header>
            <img (click)="eventDetails(event)" class="img-feed" src="{{event.image1}}"/>
        </ion-card-header>
      
        <ion-card-content>
            <div (click)="eventDetails(event)" class="details-header">
                <img class="org-profile-img" src="{{event.image_organizer}}" />
                <p class="name-organizer">{{event.name_organizer}}</p>
                <p class="time-event">{{ time(event.timestamp) }} {{ 'DAYS_AGO' | translate }}</p>
            </div>
            <p (click)="eventDetails(event)" class="title-event">{{event.title}}</p>
            <p (click)="eventDetails(event)" class="description-event">{{event.description}}</p>
            <div class="shared">
                <button (click)="shareViaInstagram(event)" ion-button outline icon-only flat class="button button-instagram">
                    <ion-icon name="logo-instagram"></ion-icon>
                </button>
                <button (click)="shareViaTwitter(event)" ion-button outline icon-only flat class="button button-twitter">
                    <ion-icon name="logo-twitter"></ion-icon>
                </button>
                <button (click)="shareViaWhatsapp(event)" ion-button outline icon-only flat class="button button-whatsapp">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </button>
                <button (click)="saveToFavourite(event)" ion-button outline icon-only flat class="button">
                    <ion-icon name="bookmark"></ion-icon>
                </button>
            </div>
        </ion-card-content>
      </ion-card>
      <div class="nothing" *ngIf="nothing">{{ 'DONT_FOLLOW' | translate }}</div>
      <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content 
              pullingText="Pull to refresh"
              refreshingText="Refreshing...">
            </ion-refresher-content>
        </ion-refresher>
</ion-content>
