page-feed {
  font-family: 'Poppins', sans-serif;
  .spinner{
    position: absolute;
    top: 45%;
    left: 45%;
  }
  .logo{
    font-size: 24px;
    size: 100% 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 1% 8px;
    color: white;
  }
  .nothing{
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .toolbar-background {
    background-color: #ff793f;
  }
  .button{
    float: right;
    box-shadow: none;
    color: #ff5252;
    border-color: #ff5252;
  }
  .button-instagram{
    color: #bc2a8d;
    border-color: #8a3ab9;
  }
  .button-twitter{
    color: #00aced;
    border-color: #0084b4;
  }
  .button-whatsapp{
    color: #25d366;
    border-color: #25d366;
  }
  .button-exit{
    float: right;
    box-shadow: none;
    color: white;
  }
  .img-feed{
    width: 100%;
    height: 165px;
  }
  .card-header {
    padding: 0;
  }
  .details-header{
    display: flex;
    align-items: center;
    margin-top: 17px;
  }
  .org-profile-img{
    width: 38px;
    height: 38px;
    border-radius: 100%;
  }
  .name-organizer{
    font-size: 12px;
    line-height: 50%;
    margin-left: 8px;
  }
  .time-event{
    color: gray;
    font-size: 12px;
    text-align: right;
    flex-grow: 1;
  }
  .title-event{
    margin-top: 14px;
    font-size: 18px;
  }
  .description-event{
    font-size: 12px;
    color: gray;
    overflow: hidden;
  }
  .shared{
    margin-top: 16px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
  }
  .card{
    margin: 16px 0;
    width: 100% !important;
    border-radius: 8px;
  }
  .card:first-child{
    margin: 0;
  }
  .card:last-child{
    margin-bottom: 0;
  }
  .toolbar-content{
    display: flex;
  }
  .toolbar-content p{
    flex-grow: 1;
    justify-content: right;
    font-size: 14px;
    color: white;
    margin-left: 8px;
  }
  .badge{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid black;
    border-radius: 100%;
    background: black;
    position: absolute;
    top: -6px;
    right: 4px;
    height: 14px;
    width: 14px;
    font-size: 50%;
  }
  ion-icon{
    position: relative;
  }

}
