<ion-content>
  <div class="pr">
    <ion-icon (click)="goBack()" class="back" name="arrow-back"></ion-icon>
    <div class="org-information">
      <img src="{{organizer.image_profile}}" />
      <p>{{organizer.name}}</p>
      <p>{{'FOLLOWERS' | translate}}: {{ organizer.number_followers }}</p>
      <p>{{'REPUTATION' | translate}}: {{reputation}}</p>
    </div>
  </div>
  <div class="buttons">
      <div class="button-organizer" (click)="sendRank()">{{'SCORE' | translate}}</div>
      <div class="button-organizer" (click)="sendMessage()">{{'SEND_MSG' | translate}}</div>
  </div>
  <div *ngIf="displayRank" class="rank">
    <div *ngIf="displayRankBlank"  class="stars">
      <ion-icon name="star-outline" (click)="rankOrganizer(1)"></ion-icon>
      <ion-icon name="star-outline" (click)="rankOrganizer(2)"></ion-icon>
      <ion-icon name="star-outline" (click)="rankOrganizer(3)"></ion-icon>
      <ion-icon name="star-outline" (click)="rankOrganizer(4)"></ion-icon>
      <ion-icon name="star-outline" (click)="rankOrganizer(5)"></ion-icon>
    </div>
    <div *ngIf="stars_1"  class="stars-1">
      <ion-icon name="star" (click)="rankOrganizer(1)"></ion-icon>
      <ion-icon name="star-outline" (click)="rankOrganizer(2)"></ion-icon>
      <ion-icon name="star-outline" (click)="rankOrganizer(3)"></ion-icon>
      <ion-icon name="star-outline" (click)="rankOrganizer(4)"></ion-icon>
      <ion-icon name="star-outline" (click)="rankOrganizer(5)"></ion-icon>
    </div>
    <div *ngIf="stars_2" class="stars-2">
      <ion-icon name="star" (click)="rankOrganizer(1)"></ion-icon>
      <ion-icon name="star" (click)="rankOrganizer(2)"></ion-icon>
      <ion-icon name="star-outline" (click)="rankOrganizer(3)"></ion-icon>
      <ion-icon name="star-outline" (click)="rankOrganizer(4)"></ion-icon>
      <ion-icon name="star-outline" (click)="rankOrganizer(5)"></ion-icon>
    </div>
    <div *ngIf="stars_3" class="stars-3">
      <ion-icon name="star" (click)="rankOrganizer(1)"></ion-icon>
      <ion-icon name="star" (click)="rankOrganizer(2)"></ion-icon>
      <ion-icon name="star" (click)="rankOrganizer(3)"></ion-icon>
      <ion-icon name="star-outline" (click)="rankOrganizer(4)"></ion-icon>
      <ion-icon name="star-outline" (click)="rankOrganizer(5)"></ion-icon>
    </div>
    <div *ngIf="stars_4" class="stars-4">
      <ion-icon name="star" (click)="rankOrganizer(1)"></ion-icon>
      <ion-icon name="star" (click)="rankOrganizer(2)"></ion-icon>
      <ion-icon name="star" (click)="rankOrganizer(3)"></ion-icon>
      <ion-icon name="star" (click)="rankOrganizer(4)"></ion-icon>
      <ion-icon name="star-outline" (click)="rankOrganizer(5)"></ion-icon>
    </div>
    <div *ngIf="stars_5" class="stars-5">
      <ion-icon name="star" (click)="rankOrganizer(1)"></ion-icon>
      <ion-icon name="star" (click)="rankOrganizer(2)"></ion-icon>
      <ion-icon name="star" (click)="rankOrganizer(3)"></ion-icon>
      <ion-icon name="star" (click)="rankOrganizer(4)"></ion-icon>
      <ion-icon name="star" (click)="rankOrganizer(5)"></ion-icon>
    </div>
  </div>
  <div class="button-organizer-content">{{'ORGANIZER_DESCRIPTION' | translate}}</div>
  <div class="events-places">
    <div>
      <p>{{'EVENTS_UPLOADED' | translate}}</p>
      <p>{{organizer.number_events}}</p>
    </div>
    <div class="line"></div>
    <div>
      <p>{{'PLACES_UPLOADED' | translate}}</p>
      <p>{{organizer.number_places}}</p>
    </div>
  </div>
  <div class="button-organizer-content">{{'EVENTS' | translate}}</div>
  <div class="events">
    <div *ngFor="let event of events" >
      <img (click)="eventDetails(event)" src="{{event.image1}}" />
    </div>
  </div>
  <div class="button-organizer-content">{{'PLACES' | translate}}</div>
  <div class="events">
    <div *ngFor="let place of places" >
      <img (click)="placeDetails(place)" src="{{place.image1}}" />
    </div>
  </div>

</ion-content>
