page-organizer-details {
  font-family: 'Poppins', sans-serif;
  .pr{
    z-index: 100;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff5252;
    position: relative;
    padding: 16px;
  }
  .org-information{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }

  .pr img {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    margin: 8px;
  }
  .pr p{
    margin: 0;
  }
  .navbar{
    height: 200px;
    
  }
  .back{
    position: absolute;
    top: 14px;
    left: 14px;
    z-index: 1;
    color: white;
  }
  ion-icon{
    font-size: 24px;
  }

  .events-places{
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .line{
    height: 100px;
    border-left: 3px solid black;
    margin: 0 32px;
  }

  .title{
    margin-left: 16px;
    font-size: 14px;

  }

  .description{
    margin-left: 16px;
  }
  .buttons{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
  }

  .events{
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    height: 15%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .events div{
    flex: 0 0 auto;
    margin: 4px;
    width: 25%;
    height: 90%;
    background: transparent;
    border-radius: 8px;
  }

  .events img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }

  .button-organizer:first-child{
    padding: 16px; 
    background: white; 
    color: #ff5252;
    width: 50%;
    text-align: center;
    border-right: 1px solid #ff5252;
  }
  .button-organizer {
    padding: 16px; 
    background: white; 
    color: #ff5252;
    width: 50%;
    text-align: center;
  }

  .button-organizer-content{
    padding: 16px; 
    background: #ff5252; 
    color: white;
    width: 100%;
    text-align: left;
    border-top: 1px solid white;
  }

  .rank{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
  }

  .stars{
    display: flex;
    margin: auto;
  }

  .stars ion-icon{
    margin: 8px;
    color: #ff5252;
    font-size: 32px;
  }

  .stars-1{
    display: flex;
    margin: auto;
  }
  .stars-1 ion-icon {
    margin: 8px;
    color: #ff5252;
    font-size: 32px;
  }
  .stars-2{
    display: flex;
    margin: auto;
  }
  .stars-2 ion-icon {
    margin: 8px;
    color: #ff5252;
    font-size: 32px;
  }
  .stars-3{
    display: flex;
    margin: auto;
  }
  .stars-3 ion-icon {
    margin: 8px;
    color: #ff5252;
    font-size: 32px;
  }
  .stars-4{
    display: flex;
    margin: auto;
  }
  .stars-4 ion-icon {
    margin: 8px;
    color: #ff5252;
    font-size: 32px;
  }
  .stars-5{
    display: flex;
    margin: auto;
  }
  .stars-5 ion-icon {
    margin: 8px;
    color: #ff5252;
    font-size: 32px;
  }
  
}
