// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #ff793f,
  secondary:  #ff5252,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #000000,
  gray:       rgb(121, 121, 121),

);

ion-spinner{
  width: 48px !important;
  height: 48px !important;
}

$tabs-md-tab-color-inactive:       #ff5252;      
$tabs-ios-tab-color-inactive:      #ff5252;  
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$searchbar-ios-input-background-color:   transparent;
$searchbar-ios-input-text-color:         white;
$searchbar-ios-input-clear-icon-color:   white;
$searchbar-ios-input-search-icon-color:  white;
$searchbar-ios-input-placeholder-color:  white;
$searchbar-ios-input-box-shadow:         0;

$tabs-ios-tab-icon-color-active:         #ff5252;
$tabs-ios-tab-text-color-active:         #ff5252;

$item-ios-paragraph-text-color:          black;
$toolbar-ios-title-text-color:           white;  


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$searchbar-md-input-background-color:   transparent;
$searchbar-md-input-text-color:         white;
$searchbar-md-input-clear-icon-color:   white;
$searchbar-md-input-search-icon-color:  white;
$searchbar-md-input-placeholder-color:  white;
$searchbar-md-input-box-shadow:         0;

$tabs-md-tab-icon-color-active:         #ff5252;
$tabs-md-tab-text-color-active:         #ff5252;

$item-md-paragraph-text-color:          black;
$toolbar-md-title-text-color:           white;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
