<ion-content>
  <div class="content">
    <div class="image">
      <img src="{{promotion.imagePromotion}}" />
      <ion-icon class="back" (click)="goBack()" class="back" name="arrow-back"></ion-icon>
    </div>
    <div class="details">
      <div class="title">{{promotion.titlePromotion}}</div>
      <div class="description">{{promotion.descriptionPromotion}}</div>
      <div class="date">Valido hasta: {{datePromotion}}</div>
    </div>
    <svg #barcode id="barcode" ></svg>
  </div>
</ion-content>
