page-promotion-details {
  font-family: 'Poppins', sans-serif;
  .toolbar-background {
    background-color: #ff5252;
  }

  .image{
    position: relative;
  }

  img{
    width: 100%;
    height: 250px;
  }
  .back{
    position: absolute;
    top: 14px;
    left: 14px;
    z-index: 1;
    color: white;
  }
  ion-icon.back{
    font-size: 20px;
    background: gray;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content{
    height: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto;
  }
  .details{
    width: 100%;
  }
  .title{
    font-size: 18px;
    border-left: 2px solid #ff5252;
    margin-left: 8px;
    padding: 8px;
  }
  .description{
    height: 50%;
    width: 95%;
    text-align: justify;
    overflow: scroll;
    border-left: 2px solid #ff5252;
    margin-left: 8px;
    margin-top: 8px;
    padding: 8px;
  }
  .date{
    border-left: 2px solid #ff5252;
    margin-left: 8px;
    margin-top: 8px;
    padding: 8px;
  }
  svg{
    height: 100px;
    width: 100%;
    margin-top: 8px;
  }
}
