<ion-header>
  <ion-navbar color="#ff5252">
    <ion-title>{{'NOTIFICATIONS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let notification of notifications">
    <ion-item>
      <p>{{notification.subject}}</p>
      <p>{{notification.messageReply}}</p>
    </ion-item>
    <ion-item-options side="end">
        <button ion-button color="danger" (click)="delete(notification)">
            <ion-icon name="trash" item-right></ion-icon>
        </button>
    </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
