<ion-content>
    <ion-tabs tabsPlacement="top">
        <ion-tab [root]="tabEvents" tabsHideOnSubPages="true" tabTitle="Events"></ion-tab>
        <ion-tab [root]="tabOrganizers" tabsHideOnSubPages="true" tabTitle="Organizers"></ion-tab>
        <ion-tab [root]="tabPlaces" tabsHideOnSubPages="true" tabTitle="Places"></ion-tab>
    </ion-tabs>
</ion-content>
