<ion-content>
    <div class="menu">
      <profile class="pr"></profile>
      <ion-tabs tabsPlacement="top" color="primary">
        <ion-tab [root]="tabProfileDetails" tabsHideOnSubPages="true" tabIcon="person"></ion-tab>
        <ion-tab [root]="tabFavourites" tabsHideOnSubPages="true" tabIcon="bookmark"></ion-tab>
        <ion-tab [root]="tabTickets" tabsHideOnSubPages="true" tabIcon="filing"></ion-tab>
      </ion-tabs>
    </div>
</ion-content>
