page-profile {
  *{
    margin: 0;
  }
  .pr{
    z-index: 100;
    height: 20%;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 8px;
  }
  .toolbar-background {
    background-color: #ff793f;
    z-index: 1;
  }
  .content-profile{
    position: relative;
    background: #ff793f;
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }
  .menu{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .btn-menu-profile{
    background: #ff793f;
    border: none;
  }
  .img {
    margin-top: 5%;
    border-radius: 100%;
  }
  p{
    margin: 4px;
  }
  h6{
    margin: 4px;
  }
}
