page-place-details {
  font-family: 'Poppins', sans-serif;
  .back{
    position: absolute;
    top: 14px;
    left: 14px;
    z-index: 1;
    color: white;
  }

  .content-main{
    height: 100%;
  }

  ion-icon.back{
    font-size: 20px;
    background: gray;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .item {
    padding: 0 !important;
  }

  .swiper-pagination-bullet-active {
    background: #ff5252;
    border: 1px solid white;
    opacity: 1 !important;
    height: 15px;
    width: 15px;
  }

  .swiper-pagination-bullet {
    background: #ff5252;
    opacity: 0.5;
    height: 12px;
    width: 12px;
  }

  .slides{
    position: relative;
    height: 30%;
  }

  .img-place img{
    width: 100%;
    height: 185px;
  }

  .content-place{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 15%;
  }

  .aforo{
    display: flex;
    margin-top: 16px;
    margin-bottom: 32px;
    align-items: center;
    background: #ff5252;
    width: 95%;
    height: 50px;
  }

  .aforo p{
    margin: 0 32px;
    text-align: right;
    color: white;
    width: 100%;
  }
  .title-secondary{
    font-size: 12px;
    color: gray;
  }
  .title-secondary-aforo{
    font-size: 12px;
    color: gray;
    margin: 16px 0 0 16px;
  }
  .title{
    font-size: 18px;
    margin-left: 16px;
    margin-top: 16px;
    color: #ff5252;
  }

  .container-title{
    display: flex;
    align-items: center;

    p.title{
      flex-grow: 1;
    }
    .accesible{
      padding: 8px;
      font-size: 16px;
      background: #ff5252;
      color: white;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 32px;
    }
  }
  .description{
    font-size: 12px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: justify;
    margin-top: 4px;
  }

  .time-place-without-color{
    display: grid;
    grid-template-columns: 70% 30%;
    text-align: center;
    width: 100%;
  }

  .label{
    margin: 0;
  }

  .time-container{
    margin-left: 16px;
  }

  .time-label{
    text-align: left;
  }

  .time-place p{
    margin-right: 8px;
  }

  .location{
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;

    button{
      width: 100%;
      margin: 0;
    }
  }

  button{
    width: 50%;
    margin-left: 16px;
  }
  .list{
    padding: 8px;
  }
}
