<ion-content class="content-main" style="height: 100vh;">
  <div>
    <ion-slides class="slides" pager="true" autoplay="2000" loop="true" speed="500">
      <ion-slide class="img-place">
        <img src="{{place.image1}}"/>
      </ion-slide>
      <ion-slide class="img-place">
        <img  src="{{place.image2}}"/>
      </ion-slide>
      <ion-slide class="img-place">
        <img  src="{{place.image3}}"/>
      </ion-slide>
    </ion-slides>
    <ion-icon class="back" (click)="goBack()" class="back" name="arrow-back"></ion-icon>
  </div>
  <div class="content-place">
    <div class="container-title">
      <p class="title">{{place.title}}</p>
      <div class="accesible" *ngIf="place.access_especial">{{'ACCESSIBLE' | translate}}</div>
    </div>
    <p class="description">{{place.description}}</p>
    <div class="time-container">
      <div>
        <p class="title-secondary">{{'TIME' | translate}}</p>
        <ion-list>
          <ion-item *ngFor="let time of place.time" >
            <div class="time-place-without-color" >
              <p class="time-label">{{time.label}}</p>
              <p *ngIf="time.closed">{{'CLOSED' | translate}}</p>
              <p *ngIf="!time.closed">{{time.timeStart}} - {{time.timeEnd}}</p>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div class="location">
      <p class="title-secondary">{{'LOCALIZATION' | translate}}</p>
      <button ion-button icon-only outline (click)="openMap()">
        <ion-icon name="map"></ion-icon>
      </button>
    </div>
    <p class="title-secondary-aforo">{{'CAPACITY' | translate}}</p>
    <div class="aforo">
      <p style="font-size: 22px;">{{place.aforo}}</p>
    </div>
  </div>
</ion-content>
