page-events {
  font-family: 'Poppins', sans-serif;
  .spinner{
    position: absolute;
    top: 45%;
    left: 45%;
  }
  .textSpinner{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .destacado{
    position: absolute;
    top: 40px;
    left: -45px;
    transform: rotate(-45deg);
    background: #FFC107;
    color: black;
    font-size: 14px;
    width: 50%;
    padding: 8px;
    display: flex;
    justify-content: center;
    z-index: 5;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .container-events{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    grid-gap: 1px;
    position: relative;
    z-index: 1;
  }

  .event{
    height: 100px;
    width: 100%;
    position: relative;
  }

  .img-event{
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }

  .event:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    height: 100%;
  }
}
