<ion-header>

  <ion-navbar>
    <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="search()"></ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-spinner *ngIf="loading" class="spinner" indeterminate></ion-spinner>
  <p *ngIf="loading" class="textSpinner">{{'LOADING_EVENTS_MSG' | translate}}</p>
  <div *ngIf="!loading && !user.location && !searching" class="destacado">{{'OUTSTANDING' | translate}}</div>
  <div class="container-events">
    <div class="event" *ngFor="let event of events">
      <img (click)="eventDetails(event)" class="img-event" src={{event.image1}}/>
    </div>
  </div>
  <ion-fab bottom right fixed>
    <button *ngIf="!user.location" (click)="getLocation()" ion-fab color="gray">
      <ion-icon name="locate"></ion-icon>
    </button>
    <button *ngIf="user.location" (click)="desactivateLocation()" ion-fab color="secondary">
      <ion-icon name="locate"></ion-icon>
    </button> 
  </ion-fab>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content 
        pullingText="Pull to refresh"
        refreshingText="Refreshing...">
      </ion-refresher-content>
  </ion-refresher>
</ion-content>
